
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar / Crear contrato</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>


<div th:replace="shared/navbar :: navbar"></div>
	<div class="container">
		<div>
			<h1 th:text="${titulo}"></h1>
		</div>

		<div>
			<h3>Información General</h3>
			<form th:action="@{/contrato/guardar}" method="post">
				<div class="row mb-4">
					<div class="col-md-6">
						<input type="hidden" name="id" th:value="${contrato?.id}" />
						<div class="mb-3">
							<label for="numeroContrato" class="form-label required-field">N°
								Contrato</label> <input type="text" class="form-control" id="numero"
								name="numero" th:value="${contrato?.numero}">
						</div>

						<div class="mb-3">
							<label for="fechaInicio" class="form-label required-field">Fecha
								Inicio</label> <input type="date" class="form-control" id="fechaInicio"
								name="fechaInicio" required th:value="${contrato?.fechaInicio}">
						</div>

						<div class="mb-3">
							<label for="tipoContrato" class="form-label">Tipo de
								Contrato</label> <select class="form-select" id="tipoContrato"
								name="tipoContrato">
								<option value="">Seleccione</option>
								<option value="Mensual"
									th:selected="${contrato?.tipoContrato == 'Mensual'}">Mensual</option>
								<option value="Trimestral"
									th:selected="${contrato?.tipoContrato == 'Trimestral'}">Trimestral</option>
								<option value="Semestral"
									th:selected="${contrato?.tipoContrato == 'Semestral'}">Semestral</option>
								<option value="Anual"
									th:selected="${contrato?.tipoContrato == 'Anual'}">Anual</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="mb-3">
							<label for="idCliente" class="form-label required-field">Cliente</label>
							<select class="form-select" id="cliente" name="cliente" required
								th:attr="data-selected-id=${clienteIdSeleccionado}">
								<option value="">Seleccione cliente</option>
								<option th:each="c : ${clientes}" th:value="${c.id}"
									th:text="${c.razonSocial}"></option>
							</select>
						</div>

						<div class="mb-3">
							<label for="fechaFin" class="form-label required-field">Fecha
								Fin</label> <input type="date" class="form-control" id="fechaFin"
								name="fechaFin" required th:value="${contrato.fechaFin}">
						</div>
					</div>
				</div>

				<div class="mb-3">
					<label for="observaciones" class="form-label">Observaciones</label>
					<textarea class="form-control" id="observaciones"
						name="observaciones" rows="3" placeholder="Observaciones..."
						th:text="${contrato.observaciones}"></textarea>
				</div>
		</div>

		<div class="form-card">
			<h3>Detalle de Equipos a Alquilar</h3>

			<div class="table-responsive">
				<table class="table table-striped table-bordered"
					id="equipmentTable">
					<thead class="table-primary">
						<tr>
							<th>Modelo de Radio</th>
							<th width="120">Cantidad</th>
							<th width="150">Precio Unit.</th>
							<th width="150">Subtotal</th>
						</tr>
					</thead>
					<tbody>
    <tr th:each="modelo : ${modelos}">
        <th:block th:with="detallesFiltrados=${listaDetalleContrato.?[modeloId == __${modelo.id}__]}, 
                          detalleEncontrado=${#lists.isEmpty(detallesFiltrados) ? null : detallesFiltrados[0]}">
            
            <td>
                <span th:text="${modelo.codigo} + ' - ' + ${modelo.descripcion}"></span>
                <input type="hidden" name="idModelo" th:value="${modelo.id}">
                <input type="hidden" name="idDetalleContrato" 
                       th:value="${detalleEncontrado != null ? detalleEncontrado.id : 0}">
            </td>
            
            <td>
                <input type="number" class="form-control form-control-sm" 
                       name="cantidad" 
                       th:value="${detalleEncontrado != null ? detalleEncontrado.cantidad : 0}" 
                       min="0">
            </td>
            
            <td>
                <div class="input-group input-group-sm">
                    <span class="input-group-text">S/</span>
                    <input type="number" class="form-control" 
                           name="precioUnitario" 
                           th:value="${detalleEncontrado != null ? detalleEncontrado.precioUnitario : 0}" 
                           step="0.01" min="0">
                </div>
            </td>
            
            <td>
                <div class="input-group input-group-sm">
                    <span class="input-group-text">S/</span>
                    <input type="number" class="form-control" 
                           name="subtotal" 
                           th:value="${detalleEncontrado != null ? detalleEncontrado.subtotal : 0}" 
                           step="0.01" readonly>
                </div>
            </td>
            
        </th:block>
    </tr>
					</tbody>
				</table>
			</div>

			<div>
				<h4 class="mb-0">
					TOTAL MENSUAL: S/ <input id="totalMensual" name="totalMensual"
						th:value="${contrato?.valorTotal}">
				</h4>

			</div>
		</div>

		<div class="d-flex justify-content-end gap-2 mt-4">
			<button type="button" class="btn btn-secondary"
				onclick="window.history.back()">Cancelar</button>
			<button type="submit" class="btn btn-primary">Guardar
				Contrato</button>
		</div>
		</form>
	</div>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
		crossorigin="anonymous"></script>
	<script type="text/javascript">
	
		document.addEventListener('DOMContentLoaded', function(){
			const select = document.getElementById('cliente');
		    const selectedId = select.getAttribute('data-selected-id');
		    if (selectedId) {
		        select.value = selectedId;
		    }
		});
		
		document.addEventListener('input', function(e){
			if (e.target.name === 'cantidad' || e.target.name === 'precioUnitario') {
				const fila = e.target.closest('tr');
				const cantidad = fila.querySelector('input[name="cantidad"]').value;
				const precioUnitario = fila.querySelector('input[name="precioUnitario"]').value;
				const subTotal = cantidad * precioUnitario;
				fila.querySelector('input[name="subtotal"]').value = subTotal.toFixed(2);
				calcularTotal();
			}
		});
		
		function calcularTotal(){
			let total = 0;
			const subTotales = document.querySelectorAll('input[name="subtotal"]');
			subTotales.forEach(e => {
				total += parseFloat(e.value);
			})
			document.getElementById('totalMensual').value = total.toFixed(2);
		}
		
		window.onload = function() {
			calcularTotal();
	    };
	</script>
</body>


</html>