<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Clientes</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>

	
	
	<div class="container">
		<h1>Lista de Clientes</h1>
		
		<a href="cliente?opcion=editar" class="btn btn-sm btn-success"><i class="bi bi-person-plus"></i> Agregar</a>
		<table class="table table-striped table-hover table-sm" >
			<thead>
				<tr>
					<th>Código</th>
					<th>Razón social</th>
					<th>Tipo de documento</th>
					<th>Nro. de documento</th>
					<th>Dirección</th>
					<th>Teléfono</th>
					<th>Email</th>
					<th>Contacto</th>
					<th>Estado</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
					<tr th:each="c: ${clientes}">
						<td th:text="${c.id}"> </td>
						<td th:text="${c.razonSocial}"></td>
						<td th:text="${c.tipoDocumento}"></td>
						<td th:text="${c.numeroDocumento}"></td>
						<td th:text="${c.direccion}"></td>
						<td th:text="${c.telefono}"></td>
						<td th:text="${c.email}"></td>
						<td th:text="${c.contacto}"></td>
						<td th:text="${c.activo}">
						<td th:if="${c.activo}"><span class="badge text-bg-success">Activo</span></td>
						<td th:unless="${c.activo}"><span class="badge text-bg-danger">Inactivo</span></td>
						<td>
							<div class="btn-group">
								<a class="btn btn-sm btn-outline-primary" th:href="@{/cliente(opcion='editar', id=${c.id})}" title="Editar"><i class="bi bi-pencil-fill"></i></a>
								<a class="btn btn-sm btn-outline-danger" href="javascript:eliminar(<%=c.getId()%>)" title="Eliminar"><i class="bi bi-x-circle"></i></a>
							</div>
						</td>
					</tr>

			</tbody>
		</table>
		
	</div>
	
	<form id="formEliminar" action="cliente?opcion=eliminar" method="post">
		<input type="hidden" name="id" />
	</form>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
	<script type="text/javascript">
		const eliminar = (id) => {
			const respuesta = confirm('¿Desea eliminar el cliente?');
			if (respuesta) {
				document.querySelector('#formEliminar input[name=id]').value = id;
				document.getElementById('formEliminar').submit();
			}
		};
	</script>
</body>
</html>